<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="CategoryIconsFolder" value="~/Content/Categories/" />
		<add key="ProductImagesFolder" value="~/Content/Products/" />
	</appSettings>
	<connectionStrings>
		<add name="WebShopContext" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=WebShop;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\WebShop.mdf" providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>